@media (max-width: 850px) {
  .nav-menu {
    display: none;
  }
  .header-right {
    gap: 16px;
  }
  .mobile-menu-btn {
    display: block;
  }
}
@media (max-width: 470px) {
  .template-btn {
    display: none;
  }
}
