body{
    margin: 0;
}

.greenbox{
    width: 400px;
    height: 250px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-circle{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}