:root {
    --heading-font: "Kanit", sans-serif;
    --body-font: "Oswald", sans-serif;
    --primary-color: red;
    --secondary-color: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
